<table class="table_list">
    <thead>
      <tr>
        <th scope="col">username</th>
        <th scope="col">Full Name</th>
        <th scope="col">Password</th>
        <th scope="col">Phone</th>
        <th scope="col">select</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{username}}</td>
        <td>{{name}}</td>
        <td>{{phone}}</td>
        <td>{{password}}</td>
        <td>{{select}}</td>
        <td><button (click)="showEditUser()">edit</button></td>
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>

  


  <div class="signup" *ngIf="showedit === true">
    <h2>Edit Sign Up Page</h2>
    <form action="" [formGroup]="registerForm" (ngSubmit)="Registration()">
    <label for="username">username</label>
    <input type="text" formControlName="username">
    <br>
    <label for="name">Full Name</label>
    <input type="text" formControlName="name">
    <br>
    <label for="new_Password">New password</label>
    <input type="password" name="pass1" formControlName="pass1">
    <br>
    <label for="">Confirm password</label>
    <input type="password" name="pass2" formControlName="pass2">
    <br>
    <label for="phone_number">Phone Number</label>
    <input type="number" formControlName="phone_number">
    <br>
    <label for="phone_number">gender</label>
    <input type="radio" value="male" formControlName="radio1">
   
    <input type="radio" value="female" formControlName="radio2">
    <br>

    <select name="select" id="select" formControlName="select" >
        <option value="yes">Yes</option>
        <option value="no">no</option>
    </select>
    <br>
    <button type="submit">edit</button>
    
    
</form>
</div>
  